extends logout
body
     block content
        .container.text-center
         
            h1.display-4 Welcome to the Admin Panel
            p.lead
              span(style='color: firebrick; font-weight: bold; text-decoration: underline')   Here you will be able to 
              br
              span(style='color: forestgreen;')     Add products
              br
              span(style='color: forestgreen;')     Edit products
              br
              span(style='color: forestgreen;')     Delete products
              br
              span(style='color: cornflowerblue;')     Add Users
              br
              span(style='color: cornflowerblue;')     Edit Users
              br
              span(style='color: cornflowerblue;')     Delete Users



           