doctype html
html(lang='en')
  head
    title tinyShop
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    script(src='/public/javascripts/app.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', integrity='sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy', crossorigin='anonymous')
    link(rel='icon', href='/public/images/shopLogo.png', type='image/gif', sizes='32x32')
    link(href='https://fonts.googleapis.com/css?family=Poppins', rel='stylesheet')
    link(rel='stylesheet',
    href='/stylesheets/style.css')
body
     nav.navbar.navbar-expand-md.navbar-dark.fixed-top#navbarIn
      img.d-inline-block.align-top(src='/public/images/shopLogo.png', width='75', height='75', alt='Logo Image')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='homePage')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='products') Our Products
          li.nav-item
            a.nav-link(href='login') Log In
          
   
     


block content
   
   


    //
      <hr>
      <footer>
      <p>&copy;Tiny-Shop 2017</p>
      </footer>
    // Optional JavaScript
block scripts    
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='http://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
    script(src='http://code.jquery.com/ui/1.12.1/jquery-ui.js', integrity='sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js', integrity='sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4', crossorigin='anonymous')
    script.
      /*
      We can use [body] or the element class/id that wraps the elements with tooltip/popover.
      Include the data-[] attribute in each element that needs it.
      */
      $(document).ready(function() {
      //Tooltip, activated by hover event
      $("body").tooltip({
      selector: "[data-toggle='tooltip']",
      container: "body"
      })
      //Popover, activated by clicking
      $("body").tooltip({
      selector: "[data-toggle='tooltip']",
      container: "body"
      });
      
      $('.carousel').carousel({
      interval: 1000
      });
      
      });
